@charset "UTF-8";
@use "reset";
@use "mediaQuery";
@use "mediaQuery.scss" as m;

$mainColor:#6cc6c4;
$nav_border:1px solid #99E1Df;

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
}
body {
    background-color: #F6F6F6;
.p-header {
    border-top: $mainColor 8px solid;
    .container {
        .p-header__top {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            // height: 130px;
            margin-top: 10px;
            margin-bottom: 20px;
            @include m.mq(tb) {
                flex-direction: column;
                align-items: center;
            }
            .p-header__left {
                img {
                    font-size: 26px;
                    // display: block;
                    padding-bottom: 15px;
                }
            }
            .p-header__right {
               text-align: end;
                .c-header__right__top {
                    font-size: 10px;
                    line-height: 18px;
                    color: #515151;
                    font-weight: 400;
                }
                .c-header__right__middle {
                    font-size: 26px;
                    line-height: 46px;
                    color: #515151;
                    font-weight: 400;
                    padding-top: 8px;
                    fa-phone {
                        color: #767676;
                    }
                }
                    .p-header__right__box {
                        border: #D6D6D6 solid 1px;
                        padding: 4px 21px;
                        p {
                            font-size: 10px;
                            line-height: 18px;
                            color: #515151;
                            font-weight: 400;   
                            span {
                                color: #C12C00;
                            }
                        }
                    }
            }
        }
        .p-header__nav {
            width: 920px;
            @include m.mq(tb) {
                width: 100%;
            }
            // height: 73px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 24px;
            border-left: $mainColor 1px solid;
            border-radius: 4px;
            @include m.mq(tb) {
            flex-wrap: wrap;
            justify-content: flex-start;
            }
                .p-header__nav__item {
                    background-image: linear-gradient(to bottom,#9CE2E0,#6CC6C4);
                    width: 184px;
                    border-left:$nav_border;
                    border-right:#71C9C7 1px solid;
                    border-top:$mainColor 1px solid;
                    border-bottom: $mainColor 1px solid;
                    color: white;
                    @include m.mq(tb) {
                        width: 50%;
                    }
                    a {
                        box-sizing: border-box;
                        text-decoration: none;
                        display: flex;
                        height: 70px;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        h1 {
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 700;
                        }
                        p {
                            font-size: 10px;
                            line-height: 15px;
                            font-weight: 700;
                        }
                    }
                    &:hover {
                        background-image: linear-gradient(to top,#9CE2E0,#6CC6C4);
                        color: #C1FFFD;
                    }

                }
                .first-child {
                    border-radius: 4px 0 0 4px;
                }
                .last-child {
                    border-radius: 0 4px 4px 0; 
                    @include m.mq(tb) {
                    }
                }
        }
        .p-header-under {
            padding-bottom: 15px;
            p {
                font-size: 10px;
                font-weight: 400;
                line-height: 15px;
                color: #515151;
                a {
                    color: blue;
                    text-decoration: underline;
                    &:hover {
                        color: #cc4866;
                    }
                }
            }
        }
    }
 }

 .p-home {
    .container {
        display: flex;
        @include m.mq(tb) {
            flex-direction: column;
            padding: 0 10px;
        }
        .p-home__left {
            flex-direction: column;
            @include m.mq(tb) {
                order: 2;
            }
            .p-home__left__contents {
                border: $mainColor 1px solid;
                border-radius: 4px 4px 0 0;
                // height: 234px;
                width: 261px;
                margin-right: 20px;
                margin-bottom: 22px;
                    @include m.mq(tb) {
                        width: 100%;
                    }
                    .p-home__left__heading {
                        background-image: linear-gradient(to bottom,#9BE2E0,$mainColor);
                        border-radius: 4px 4px 0 0;
                        p {
                            font-size: 16px;
                            line-height: 40px;
                            font-weight: 700;
                            color: white;
                            padding-left: 15px;
                        }
                    }
                    .p-home__left__list {
                        padding:0 13px;
                        padding-bottom: 22px;
                        background-color: white;
                        ul {
                            li {
                                border-bottom:1px solid $mainColor;
                                padding: 8px 0;
                                a {
                                    color: black;
                                    opacity: 0.7;
                                    font-size: 14px;
                                    font-weight: 700;
                                    line-height: 25px;
                                    &:hover {
                                        color: $mainColor;
                                        opacity: 1.0;
                                    }
                                    i {
                                        color: $mainColor;
                                        padding-right: 9px;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    } 
                }
        }
        .p-home__right {
            @include m.mq(tb) {
                order: 1;
            }
            .p-home__right__top {
                display: flex;
                margin-bottom: 8px;
                img {
                        @include m.mq(tb) {
                            max-width: 767px;
                            width: 100%;
                        }
                }
            }
            .p-home__right__bottom {
                width: 640px;
                background-color: white;
                padding: 0 18px;
                padding-top: 21px;
                padding-bottom: 40px;
                border-radius: 0 0 8px 8px;
                @include m.mq(tb) {
                    width: 100%;
                }
                .p-home__right__bottom__heading {
                    border-bottom: $mainColor 3px solid;
                    margin-bottom: 18px;
                    p {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 50px;
                        color: #515151;
                    }
                }  
                .p-home__right__bottom__contents {
                    display: flex;
                    border-bottom: gray 1px dotted;
                    padding: 10px;
                    @include m.mq(tb) {
                        flex-direction: column;
                    }
                    .p-home__right__bottom__contents__left {
                        margin-right: 28px;
                        p {
                            font-size: 13px;
                        font-weight: 700;
                        line-height: 23px;
                        color: #515151;
                        width: 118px;
                        padding: 10px 0;
                        }
                                                              
                    }
                    .p-home__right__bottom__contents__right {
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #515151;
                    }
                }
            }
        }

        // ここからは下層ページ
        .p-home__under {
            background-color: white;
            border-radius: 0 0 8px 8px;
            width: 640px;
                padding: 0 18px;
            @include m.mq(tb) {
                order: 1;
                width: 100%;
            }
            .p-home__under__heading {
                margin: 0 -18px;
                padding: 0 18px;
                height: 100px;
                background-image: linear-gradient(to bottom,#9CE2E0,#6CC6C4);
                border-radius: 6px 6px 0 0;
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 700;
                line-height: 70px;
                color: #ffffff;
            }
            .p-home__under-top {
                padding-top: 21px;
                @include m.mq(tb) {
                    width: 100%;
                }
                .p-home__under-top__heading {
                    border-bottom: $mainColor 3px solid;
                    margin-bottom: 18px;
                    p {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 50px;
                        color: #515151;
                    }
                } 
                a {
                    color: blue;
                    text-decoration: underline;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 15px;
                }
                .p-home__under-tops {
                    display: flex;
                    margin-bottom: 30px;
                    .p-home__under-top-left {
                        img {
                        margin:0 15px 15px 0;
                        }
                        .p-home__under-top-left__introduce {
                            background-color: $mainColor;
                            width: 200px;
                            text-align: center;
                            color: #ffffff;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 23px;
                        }
                    }
                    .p-home__under-top-right {
                        .p-home__under-top-right__heading {
                            color: $mainColor;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 27px;
                            padding: 15px 0;
                        }
                        p {
                            color: #515151;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 23px;
                        }
                        .Lv1 {
                            margin-bottom: 10px;
                        }
                    }
                }
                .p-home__under-top-right__comment {

                    .p-home__under-top-right__heading {
                        color: $mainColor;
                                font-weight: 700;
                                font-size: 15px;
                                line-height: 27px;
                                padding: 15px 0;
                    }
                    p {
                        color: #515151;
                                font-weight: 400;
                                font-size: 13px;
                                line-height: 23px;
                                padding-bottom: 10px;
                    }
                }
                .p-home__under-top__contents {
                    padding: 0 10px;
                    @include m.mq(tb) {
                        flex-direction: column;
                    }
                    .p-home__under-top__content {
                        color: $mainColor;
                        font-size: 15px;
                        line-height: 27px;
                        font-weight: 700;
                        margin-top: 48px;
                        margin-bottom: 28px;
                    }
                    .p-home__under-top__list {
                        color: $mainColor;
                        font-size: 15px;
                        line-height: 27px;
                        font-weight: 700;
                    }
                    p {
                        color: #515151;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 23px;
                        margin-bottom: 10px;
                    }
                }
                .p-home__under-top__lists {
                    @include m.mq(tb) {
                        flex-direction: column;
                    }
                    .p-home__under-top__list {
                        color: $mainColor;
                        font-size: 15px;
                        line-height: 27px;
                        font-weight: 700;
                        margin: 15px 0;
                    }
                    p {
                        color: #515151;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 23px;
                    }
                }
                .p-home__under-bottom__contents {
                    table {
                        border-collapse: collapse;
                        width: 100%;
                        margin-bottom: 20px;
                        th,td {
                            border: solid 1px #999999;
                            height: 45px;
                            text-align: center;
                            line-height: 45px;
                        }
                        th {
                            background-color: #d1d1d1;
                            font-size: 13px;
                            color: #515151;
                            font-weight: 700;
                        }
                        td {
                            font-size: 13px;
                            color: #515151;
                            font-weight: 400;
                        }
                    }
                    p {
                        color: #515151;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 23px;
                        margin-bottom: 10px;
                        span {
                            color: #515151;
                        font-weight: 700;
                        }
                    }
                }
            }
            .p-home__under-bottom {
                padding-bottom: 20px;
                .p-home__under-top__heading {
                    border-bottom: $mainColor 3px solid;
                    margin-bottom: 18px;
                    p {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 50px;
                        color: #515151;
                    }
                } 
                img {
                    padding-bottom: 15px;
                    width: 100%;
                }
                p {
                    color: #515151;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 23px;
                }
            }
        }






    }
 }

 .p-footer {
    .container {
        @include m.mq(tb) {
            padding: 0 10px;
        }
        .p-footer__body {
            margin-top: 20px;
            .p-footer__body__item {
                ul {
                    @include m.mq(tb) {
                        margin-bottom: 20px;
                    }
                    display: flex;
                    flex-wrap: wrap;
                    background-color: $mainColor;
                    border-radius: 8px;
                    li {
                        color: white;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 30px;
                        i {
                            line-height: 23px;
                            padding-left: 18px;
                            padding-right: 12px;
                        }
                    }
                }
                .p-footer__body__adress {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    @include m.mq(tb) {
                        flex-direction: column;
                        align-items: end;
                    }
                    p {
                            font-weight: 700;
                            font-size: 13px;
                            line-height: 50px;
                            color: #515151;
                            @include m.mq(tb) {
                                line-height: 23px;
                            }
                        }
                        .c-footer__body__adress {
                            font-weight: 400;
                            margin-left: 10px;
                            
                        }
                }
            }
        }
    }
    .p-footer__foot {
        border-top: $mainColor 2px solid;
        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            color: #515151;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
        }
}
}
}
